<div class="introduction">
	<br><br><br><br><br>
	<h1>I'm <span id="iam" style= "color:#5874c9;">JUSTIN</span></h1>
	<p>
	<strong>Front End Developer<br></strong> based in Portland, OR.
	<br>Take a look at some of my works, and if you like them, feel free to <br><strong>
	<span id="blueletters" style="font-size:42px; color:#5874c9; border:2px;"> contact me</span></strong>
	<br><br><br>
	<img src="scrolldown.png" id="scrolldown">
	</p>
</div>
<!-- =======================ABOUT ME======================== -->

<div class="aboutme row">
		<h1><br><span id="target" style= "font-size:45px; color:black; text-decoration: underline overline;">ALL ABOUT ME</span></h1>
		<br><img id='portrait' src="portrait.jpg" style="border-radius: 50%;"><br>

		<div class='pattern'>
			<img id='pattern' src="http://www.clker.com/cliparts/d/b/1/3/11949893681664969879pattern-dots-square-grid-05.svg.hi.png">

			<div class='bio col-md-5'>
				<h1><span style="background-color: #FFBC42; color: white"> My Experience </span></h1>
			</h1>
				<p>
				DIY hoodie copper mug, sustainable lumbersexual tumeric cardigan ennui craft beer. Neutra man bun vape bespoke pickled occupy activated charcoal, fanny pack quinoa forage gastropub bushwick edison bulb lumbersexual. Blog deep v snackwave, tumblr street art godard pickled vexillologist celiac flexitarian. Tousled shoreditch XOXO ugh trust fund normcore. Pitchfork vegan mlkshk swag photo booth sustainable, ennui cornhole shabby chic enamel pin whatever blog cronut aesthetic lumbersexual. Semiotics meh retro, food truck vexillologist chambray +1 keytar XOXO. Woke you probably haven't heard of them distillery meditation hexagon.
				</p>
			</div>
			<div >
				<div class='col-md-7'>
					<h1 style='text-align:left;margin-left:22%;'><span style="background-color: #FFBC42; color: white;"> My Skills </span></h1>
					<div class="skill">
						HTML<img src='https://www.w3.org/html/logo/downloads/HTML5_Logo_512.png' rel='html'>			
						<% 9.times do %>
							<%= star() %>
						<% end %>
						<%= star0()  %>
						<br><br>
						CSS<img src='http://vignette2.wikia.nocookie.net/howtoprogram/images/a/a9/CSS3.png/revision/latest?cb=20130422012035' rel='css'>
						<% 9.times do %>
							<%= star() %>
						<% end %>
						<%= star0()  %>
						<br><br>
						Javascript<img src='https://upload.wikimedia.org/wikipedia/commons/d/dc/Javascript-shield.png'>
						<% 7.times do %>
							<%= star() %>
						<% end %>
						<%= star0()  %><%= star0()  %><%= star0()  %>
						<br><br>
						jQuery<img src='http://www.exuberantsolutions.com/course_logo/jquery-icon.png'>
						<% 7.times do %>
							<%= star() %>
						<% end %>
						<%= star0()  %><%= star0()  %><%= star0()  %>
						<br><br>
						Ruby<img src='http://www.betazedsoftwaresolutionsinc.com/assets/shields/ruby.png'>
						<% 7.times do %>
							<%= star() %>
						<% end %><%= star0()  %><%= star0()  %><%= star0()  %>
						<br><br>
						Rails<img src='http://perfectial.com/wp-content/uploads/2015/02/ruby.png'>
						<% 6.times do %>
							<%= star() %>
						<% end %><%= star0()  %><%= star0()  %><%= star0()  %><%= star0()  %>
						<br><br>
						MySQL<img src='http://data1asia.com/d1_website2012/wp-content/uploads/2014/04/ICON-Compute-MySQL.png'>
						<% 5.times do %>
							<%= star() %>
						<% end %>
						<%= star0()  %><%= star0()  %><%= star0()  %><%= star0()  %><%= star0()  %>
						<br><br>
						Git<img src='https://people-mozilla.org/~dietrich/psu2014/imgs/github.png'>
						<% 8.times do %>
							<%= star() %>
						<% end %><%= star0()  %><%= star0()  %>
						<br><br>
					<br><br>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="portfolio">
<h1>uihwefuhwef</h1><br>
	
</div>
<div><h1>iuouiwhrvuojeibrvu8oslknm h<br>ft78yuihgjfct7yu<br>igftyugherugfireuhguoriureohiugvhrwoijkfdsbniuohndwoiskjhfewjdwj</h1></div>
