<div class="introduction">
	<div class='gradient'>
		<br><br><br><br><br>
		<h1>I'm <span id="iam" style= "color:#5874c9;">JUSTIN</span></h1>
		<p>
		<strong>Front End Developer<br></strong> based in Portland, OR.
		<br>Take a look at some of my works, and if you like them, feel free to <br><strong>
		<span style="font-size:42px; color:#5874c9; border:2px;"> contact me</span></strong>
		<br><br><br>
		<a href='#about'><img src="scrolldown.png" id="scrolldown"></a>
		</p>	
	</div>
</div>
<!-- =======================ABOUT ME======================== -->

<div class="aboutme row">
<a class='anchor' name='about'><a name='about'>
	<br><br>
	<div class='bio col-md-4' >
		<h1><span style="background-color: #5874c9; color: white">experience </span></h1>
		</h1>
		<p>DIY hoodie copper mug, sustainable lumbersexual tumeric cardigan ennui craft beer. Neutra man bun vape bespoke pickled occupy activated charcoal, fanny pack quinoa forage gastropub bushwick edison bulb lumbersexual. Blog deep v snackwave, tumblr street art godard pickled vexillologist celiac flexitarian. Tousled shoreditch XOXO ugh trust fund normcore. Pitchfork vegan mlkshk swag photo booth sustainable, ennui cornhole shabby chic enamel pin whatever blog cronut aesthetic lumbersexual. Semiotics meh retro, food truck vexillologist chambray +1 keytar XOXO. Woke you probably haven't heard of them distillery meditation hexagon.
		</p>
		<h1><span style="background-color: #5874c9; color: white">education</span></h1>
		</h1>
		<p>DIY hoodie copper mug, sustainable lumbersexual tumeric cardigan ennui craft beer. Neutra man bun vape bespoke pickled occupy activated charcoal, fanny pack quinoa forage gastropub bushwick edison bulb lumbersexual. Blog deep v snackwave, tumblr street art godard pickled vexillologist celiac flexitarian. Tousled shoreditch XOXO ugh trust fund normcore. Pitchfork vegan mlkshk swag photo booth sustainable, ennui cornhole shabby chic enamel pin whatever blog cronut aesthetic lumbersexual. Semiotics meh retro, food truck vexillologist chambray +1 keytar XOXO. Woke you probably haven't heard of them distillery meditation hexagon.
		</p>
	</div>
	<div class='col-md-3'>
		<img id='portrait' src="me.jpg" style="border-radius: 50%;"><br>
	</div>
	<div class='bio col-md-5'>
		<h1 style='text-align:left;padding-left:22%;'><span id='skills' style="background-color: #5874c9; color: white;"> skills </span></h1>
		<div class="skill">
			HTML<img src='https://www.w3.org/html/logo/downloads/HTML5_Logo_512.png' rel='html'>			
			<% 9.times do %>
				<%= star() %>
			<% end %>
			<%= star0()  %>
			<br><br>
			CSS<img src='http://vignette2.wikia.nocookie.net/howtoprogram/images/a/a9/CSS3.png/revision/latest?cb=20130422012035' rel='css'>
			<% 9.times do %>
				<%= star() %>
			<% end %>
			<%= star0()  %>
			<br><br>
			Javascript<img src='https://upload.wikimedia.org/wikipedia/commons/d/dc/Javascript-shield.png'>
			<% 7.times do %>
				<%= star() %>
			<% end %>
			<%= star0()  %><%= star0()  %><%= star0()  %>
			<br><br>
			jQuery<img src='http://www.exuberantsolutions.com/course_logo/jquery-icon.png'>
			<% 7.times do %>
				<%= star() %>
			<% end %>
			<%= star0()  %><%= star0()  %><%= star0()  %>
			<br><br>
			Ruby<img src='http://www.betazedsoftwaresolutionsinc.com/assets/shields/ruby.png'>
			<% 7.times do %>
				<%= star() %>
			<% end %><%= star0()  %><%= star0()  %><%= star0()  %>
			<br><br>
			Rails<img src='http://perfectial.com/wp-content/uploads/2015/02/ruby.png'>
			<% 6.times do %>
				<%= star() %>
			<% end %><%= star0()  %><%= star0()  %><%= star0()  %><%= star0()  %>
			<br><br>
			MySQL<img src='http://data1asia.com/d1_website2012/wp-content/uploads/2014/04/ICON-Compute-MySQL.png'>
			<% 5.times do %>
				<%= star() %>
			<% end %>
			<%= star0()  %><%= star0()  %><%= star0()  %><%= star0()  %><%= star0()  %>
			<br><br>
			Git<img src='https://people-mozilla.org/~dietrich/psu2014/imgs/github.png'>
			<% 8.times do %>
				<%= star() %>
			<% end %><%= star0()  %><%= star0() %>

		</div>
	</div>
	<button style="margin-top:55px;font-size:24px;background-color: #5874c9; color: white;" id='dl-resume'><a href='#'>download resume</a></button>
</div>
<div class='row' id='2nd'>
	
</div>

<!-- ==============================n======================= -->

<div class=''>
	

</div>

<!-- ===============================o========================= -->
<div class='mywork' style='padding-bottom:100px;background-color:#f9f9f9;'>
	<a class='anchor' name='portfolio'></a>
	<div class=''>
		<h1 style='padding-top:100px;text-align:center;color: white;''><span style='font-family: Poiret One, cursive;text-align:center;background-color:#5874c9'>portfolio</h1></span>
	<br>
		<div class='row '>
			
			<div class='grid myworkimg' style='margin-left:15%;padding:none;'>
				<div class='cell'>
					<img style='width:350px;height:260px' src="proj-1.jpg" class="responsive-image">
				</div>
				<div class='cell'>
					<img style='width:350px;height:260px' src="proj-2.jpg" class="responsive-image">
				</div>
				<div class='cell'>
					<img style='width:350px;height:260px' src="proj-3.jpg" class="responsive-image">
				</div>
				<div class='cell'>
					<img style='width:350px;height:260px' src="proj-4.jpg" class="responsive-image">
				</div>
				<div class='cell'>
					<img style='width:350px;height:260px' src="proj-5.jpg" class="responsive-image">
				</div>
				<div class='cell'>
					<img style='width:350px;height:260px' src="proj-6.jpg" class="responsive-image">
				</div>
			</div>
		</div>
	</div>
</div>
<div class='blog' style='padding-bottom:100px;background-color:rgb(249, 249, 249);text-align:center;'>
	<a class='anchor' name='blog'></a>

	<div>

		<h1 style='padding-top:50px;padding-bottom:100px;text-align:center;color: white;''><span style='font-family: Poiret One, cursive;text-align:center;background-color:#5874c9'>new blog posts</h1></span>
		<div class='row'>
			<div class='col-md-1'>
			</div>
			<a href='#'>
			<div class='col-md-4 blog' style='background-color:#f6f6f6' >
				<h1> DIY Spring Reverb</h1><br>
				<img src="spring.jpg">
				<p id='blogquote'><i>
					This is a pretty exciting DIY project I want to share with people. With a few scrap parts you can build yourself a handy stompbox.
				</i></p>

			</div></a>
			<div class='col-md-2'>
			</div>
			<a href='#'>
			<div class='col-md-4 blog' style='background-color:#f6f6f6'>
				<h1>My Favorite Ruby Gems</h1><br>
				<img src="http://workthefactory.com/assets/img/course_detail_logo-ruby-intro.png">
				<p id='blogquote'><i>
					Many tasks that would otherwise take hours or days to build can be easily implemented by simply including the relevant Ruby Gem in your project. Here’s my pick of interesting, useful and most-importantly time-saving gems:
				</i></p>
			</div></a>
			<div class='col-md-1'>
			</div>
			
		</div>
		
	</div>

</div>
